---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=<FAKEWEATHERKEY>&zip=33071,us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-80.2601,"lat":26.2435},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"base":"stations","main":{"temp":302.51,"feels_like":301.81,"temp_min":301.48,"temp_max":303.71,"pressure":1020,"humidity":54},"visibility":10000,"wind":{"speed":5.66,"deg":90},"clouds":{"all":1},"dt":1617041242,"sys":{"type":1,"id":4167,"country":"US","sunrise":1617016492,"sunset":1617060977},"timezone":-14400,"id":0,"name":"Pompano
        Beach","cod":200}'
  recorded_at: Mon, 29 Mar 2021 18:07:22 GMT
recorded_with: VCR 6.0.0
