---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=18da5444785eb7108c65986869703598&zip=33071,us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-80.2601,"lat":26.2435},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"base":"stations","main":{"temp":289.74,"feels_like":290.07,"temp_min":289.15,"temp_max":291.15,"pressure":1015,"humidity":88},"visibility":10000,"wind":{"speed":1.63,"deg":198,"gust":3.44},"clouds":{"all":1},"dt":1616579939,"sys":{"type":1,"id":4167,"country":"US","sunrise":1616584819,"sunset":1616628839},"timezone":-14400,"id":0,"name":"Pompano
        Beach","cod":200}'
  recorded_at: Wed, 24 Mar 2021 09:58:59 GMT
recorded_with: VCR 6.0.0
